body{
    background-color:pink
}

p{
    text-indent: 50px;
    font-weight: bold;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

hr{
    color:rgb(35, 132, 212);
    font-size: 4px
    

}
h1{
    color:rgb(35, 132, 212);
    font-family: "Times New Roman", Times, serif;
    font-size: 24px
}

#collage1{
    position: absolute; top: 200px; left: 500px;
    padding: 15px;
}